

.search {
  margin-left: 37%;
  margin-top: 5%;
  border-radius: 13px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.35);

  .params{
    height: 50px;
    border-radius: 12px;
    border: none;
    margin-right: 10px;
    background-color: #e5be01;
    transition: transform 400ms;

    
    &:hover{
      transform: scale(1.05);
    }
  }

  .searchInput{
    width: 300px;
    height: 50px;
    border-radius: 12px;
    border: none;
  }

  .searchButton{
    height: 50px;
    width: 40px;
    border-radius: 12px;
    border: none;
    background-color: #991da2;
    transition: transform 400ms;

    &:hover{
      transform: scale(1.05);
    }
  }
}

@media screen and(max-width: 800px) {
  .search {
    margin-left: 30%;
  }
}
