@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

body {
  color: #222831;
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  font-family: "Playfair Display", serif;
  display: flex;
  position: relative;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;       /* Remove default arrow */   /* Add custom arrow */
}
